language: cpp
sudo: false

env:
  - NODE_VERSION="4"
  - NODE_VERSION="6"

os:
  - linux
  - osx

before_install:
  - rm -rf ~/.nvm
  - git clone https://github.com/creationix/nvm.git ~/.nvm
  - source ~/.nvm/nvm.sh
  - nvm --version
  - nvm install $NODE_VERSION
  - node --version
  - npm --version
  - npm config set spin=false

install:
  - npm install

script:
  - npm test

notifications:
  email: false
